h1, h2, h3, h4, p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.header {
    color: gray;
    font-weight: 500;
}

p {
    font-weight: 500;
    font-size: 14px;
}

.info {
    color: darkslategray;
    font-weight: 500;
    font-size: 12px;
}

@media (max-width: 768px) {
    .paintings {
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }
}